
div{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(11, 11, 18);
  height: 12rem;
  color: whitesmoke;
  padding: 2rem;
}

ul{
  display: flex;
}

li{
  margin: .5rem 1rem;
}

h3{
  margin: 1rem 0 .5rem 0;
  font-size: 1rem;
}