/* You can add global styles to this file, and also import other style files */
*{
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  list-style: none;
}

app-root{
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

a{
  color: inherit;
  text-decoration: none;
}

.ng-valid:not(form).ng-touched{
  border-left: 8px solid #42A948;
}

.ng-invalid:not(form).ng-touched{
  border-left: 8px solid #a94442;
}